* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#7f5fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    color:#ffffff;
    text-shadow: 0px 0px 5px #d6b2ff;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #000000;
}

form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0px 0px 6px #d6b2ff;
    width: 400px;
    margin: 0 auto;
    border: 1px solid #d6b2ff;
    border-radius: 70px;
}

.controle-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

input {
    margin: .2rem 0 1rem 0;
    height: 2.2rem;
    width: 96%;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding-inline-start: 12px;
}

input:hover {
    background-color:#d6b2ff;
    transition: transform 0.5s, background 0.5s;
}

input:active {
    background-color: #b187ff;
}

#btCadastrar, #btnBuscarEndereco {
    height: 25px;
    width: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#d6b2ff;
    border-radius: 10px;
    border-color: #d6b2ff;
    transition: transform 0.5s, background 0.5s;
    transform: translateX(0) scale(1);
    cursor: pointer;
    margin-right: 50px;
    margin-top: 13px;
}

#btCadastrar:hover {
    background-color: #7f5fff;
    color:#ffffff;
    border-color: #7f5fff;
    transform: translateX(0px) scale(1.2);
}

#btLimpar {
    height: 25px;
    width: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#7f5fff;
    color:#ffffff;
    border-radius: 10px;
    border-color: #7f5fff;
    transition: transform 0.5s, background 0.5s;
    transform: translateX(0) scale(1);
    cursor: pointer;
}

#btLimpar:hover {
    background-color: #d6b2ff;
    color:#000000;
    border-color: #d6b2ff;
    transform: translateX(0px) scale(1.2);
}

#btnBuscarBairro {
    height: 25px;
    width: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#7f5fff;
    color:#ffffff;
    border-radius: 10px;
    border-color: #7f5fff;
    transition: transform 0.5s, background 0.5s;
    transform: translateX(0) scale(1);
    cursor: pointer;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#btnBuscarBairro:hover {
    background-color: #d6b2ff;
    color:#000000;
    border-color: #d6b2ff;
    transform: translateX(0px) scale(1.2);
}